<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title> Para ti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-articles [articles]="articles"></app-articles>

  <ion-infinite-scroll 
    threshold="15%" 
    [disabled]="complete"
    position="bottom" 
    (ionInfinite)="loadData( $event )">
    <ion-infinite-scroll-content 
      loadingSpinner="bubbles" 
      loadingText="Getting more news...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
